.lead__title{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    color: #FFFFFF;
    padding: 0;
    max-width: 720px;
    text-align: center;
    margin: 0 0 32px;
  }
  @media screen and (max-width: 720px){
    .lead__title{
      width: 90%;
      font-size: 40px;
      line-height: 1.1;
      margin: 0 auto 5vw;
    }
  }
