.footer__copyright{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 2px 0 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    align-self: end;
  }
  @media screen and (max-width: 720px){
    .footer__copyrigh{
      margin-top: 14px;
      line-height: 1;
    }
  }
