.footer__list-links{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

  }


  @media screen and (max-width: 720px){
    .footer__list-links{
      flex-direction: column;
    }
  }
