.lead__subtitle{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 0;
    max-width: 640px;
    text-align: center;
    margin: 0 auto 56px;
  }
  @media screen and (max-width: 720px){
    .lead__subtitle{
      width: 90%;
      font-size: 16px;
      line-height: 1.25;
      margin: 0 auto 5vw;
    }
  }
