.lead__subtitle{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 0;
    width: calc(100% - 2*(16px + (100% - 320px)/56));
    max-width: 640px;
    text-align: center;
    margin-bottom: 56px;
  }
  @media screen and (max-width: 712px){
    .lead__subtitle{
      font-size: 16px;
      line-height: 1.25;
      margin: 0 auto 5vw;
    }
  }
