.cover{
    margin: 12px auto 92px;
    width: calc(100% - 48px*2);
    height: 740px;
    z-index: 1;
    position: relative;
  }

  @media screen and  (max-width: 1152px){
    .cover{
      width: 100%;
      height: 640px;
    }
  }
  @media screen and  (max-width: 896px){
    .cover{
      margin: 16px auto 88px;
      height: 480px;
    }
  }
  @media screen and  (max-width: 720px){
    .cover{
      margin-bottom: 64px;
      height: 340px;
    }
  }
  @media screen and  (max-width: 470px){
    .cover{
      margin-bottom: 64px;
      height: 270px;
    }
  }
  @media screen and  (max-width: 320px){
    .cover{
      margin-bottom: 64px;
      height: 200px;
    }
  }
