.cover__overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(42,44,47, 0.3);
    transition: background-color 0.3s;
  }

 .cover__background:hover .cover__overlay {
  background-color: rgba(42,44,47, 0.8);
  }
/* Вложенность селекторов нужна чтобы затемнение работало и при наведении на заголовок и подзаголовок.*/
